.toy-preview {
    background-color: var(--clr0);
    color: var(--clr1);
    border-radius: .2em;
    margin: 5px;
    text-align: center;
    padding: 10px;
    min-width: 200px;
    min-height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.toy-preview a {
    color: rgb(180, 180, 180);
    font-weight: 500;
}

.done-indicator{
    position: absolute;
    top: 5px;
    right: 5px;
}
